<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334736433219-bfquien8u8b2ggg1qp3dq7qat07js4m7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334736433219-bfquien8u8b2ggg1qp3dq7qat07js4m7</string>
	<key>API_KEY</key>
	<string>AIzaSyCsRvXAZxoxtfoGviO_ew2cOYIZaGXj41w</string>
	<key>GCM_SENDER_ID</key>
	<string>334736433219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.presents.demo</string>
	<key>PROJECT_ID</key>
	<string>instagram-flutter-5e6ad</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-flutter-5e6ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334736433219:ios:360635f7ebf951c99bf4f6</string>
</dict>
</plist>